{% extends 'blog/base.html' %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 mx-md-auto mx-2 mt-md-3 my-3">
                <a href="{% url 'index' %}" class="btn btn-outline-secondary">Go Back</a>
            </div>
        </div>

        <div class="row">
            {% comment %} meta {% endcomment %}
            <div class="col-12 mx-md-auto mt-md-3 my-3">
                <h3 class="fw-bold">{{object.title}}</h3>
                <p class="text-muted mb-0">{{object.date}}</p>
                <p class="text-muted mb-0">Posted by {{object.author.username}}</p>
                {%if object.likes.count == 1%}
                    <p class="text-muted mb-0">{{object.likes.count}} person likes this post</p>
                {%elif object.likes.count == 0%}
                    <p class="text-muted mb-0"> no people like this post</p>
                {%else%}
                    <p class="text-muted mb-0">{{object.likes.count}} people like this post</p>
                {%endif%}

                {% comment %} Delete Button {% endcomment %}
                {% if request.user.id == object.author.id %}
                    <div class="pb-3 mt-3">
                        <a class="text-danger" href="{%url 'delete_article' object.pk%}">
                            <ion-icon size="small" name="warning-outline"></ion-icon>
                            Delete this article</a>
                    </div>
                {% endif %}
                    
                {% comment %} content {% endcomment %}
                <div class="my-3">
                    <div class="p-3 border rounded bg-white">
                        {{object.content|safe}}
                    </div>
                </div>
            </div>
        </div>


        {% comment %} Like Button {% endcomment %}

        {% if request.user.is_authenticated %}
            {% if liked_by_user %}
                {% comment %} unset like {% endcomment %}
                <form action="{%url 'like_article' object.id%}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-outline-primary mb-5 text-center">
                        <ion-icon size="small" name="heart-dislike-outline"></ion-icon>
                        <span class="pb-3">Unlike this post</span>
                    </button>
                </form>

            {% else %}
                {% comment %} set like {% endcomment %}
                <form action="{%url 'like_article' object.id%}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-outline-primary mb-5"> 
                        <ion-icon size="small" name="heart-outline"></ion-icon>
                        Like this post
                    </button>
                </form>

            {% endif %}
        {% else %}
            {% comment %} login first {% endcomment %}
                <form action="{%url 'like_article' object.id%}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-outline-primary mb-5" disabled> 
                        <ion-icon size="small" name="heart-outline"></ion-icon>
                        Login to like this post
                    </button>
                </form>
            
        {% endif %}
            

    </div>
{% endblock content %}
    