{%extends 'blog/base.html'%} 
{%load crispy_forms_tags%}

{% block content %}
  <div class="row">
    <div class="col-11 col-md-5 mx-auto mt-5">
      <h1>Sign Up</h1>
      <form method="POST">
        {% comment %} add guard from cross-site request forgery attack {% endcomment %}
        {% csrf_token %}

        {% comment %} two curly braces means variable {% endcomment %} 
        {% comment %} django-crispy applies formatting form {% endcomment %}
        {% comment %} input field를 {{form}}이 대신 만들어주고 있다. 내가 [[forms.py]]에서 정의한 네가지 요소인 ['username', 'email', 'password1', 'password2']를 그 순서까지 맞춰서 저시기 하고 있는 것을 볼 수 있다. {% endcomment %}
        {{form|crispy}}
        <button class="btn btn-secondary" type="submit">Sign Up</button>
      </form>
      <div class="pt-3">
        <small class="text-muted">
          Already have an account? 
          <a href="{%url 'login'%}" class="ml-2">
            Sign In
          </a>
        </small>
      </div>
    </div>
  </div>
{% endblock content %}
